canvas {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
}

/* Bloqueia seleção de texto e arraste em TUDO */
body {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Padrão */
    /* Evita que o usuário arraste qualquer coisa na página */
    -webkit-user-drag: none;
    -webkit-user-select: none; /* Safari */
}

*::selection {
    background: none;
}

@font-face {
    font-family: HouseSampler;
    src: url("fonts/HouseSampler.otf");
}

body {
    background-color: #010101;
}

@keyframes grow {
    0% {
        transform: scale(1) rotate(7deg);
    }
    50% {
        transform: scale(1.3) rotate(7deg);
    }
    100% {
        transform: scale(1) rotate(7deg);
    }
}