canvas {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
}

* {
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

/* Bloqueia seleção de texto e arraste em TUDO */
body {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Padrão */
    /* Evita que o usuário arraste qualquer coisa na página */
    -webkit-user-drag: none;
    -webkit-user-select: none; /* Safari */
}

#alien-dropdown {
    /* Força a aplicação da fonte */
    font-family: 'HouseSampler', sans-serif !important;
    
    /* Garante que o texto das opções também receba a fonte */
    color: lime;
    background-color: #000;
}

#alien-dropdown option {
    font-family: 'HouseSampler', sans-serif !important;
    background-color: #000;
    color: lime;
}

#alien-dropdown {
    width: 200px;
    padding: 10px;
    background: #000;
    color: lime;
    border: 2px solid lime;
    border-radius: 5px;
    cursor: pointer;
}


*::selection {
    background: none;
}

@font-face {
    font-family: HouseSampler;
    src: url("fonts/HouseSampler.otf");
}

body {
    background-color: #010101;
}

@keyframes grow {
    0% {
        transform: scale(1) rotate(7deg);
    }
    50% {
        transform: scale(1.3) rotate(7deg);
    }
    100% {
        transform: scale(1) rotate(7deg);
    }
}